@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
html {
  height: 100%;
}
body {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section .title {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
}
